<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <h1>Dashboard</h1>
    <nav>
        <a href="/deposit">Deposit</a> | <a href="/balances">Balances</a> | <a href="/logout">Logout</a>
    </nav>
  </header>

  <main>
    <h2>Welcome, {{ user.username }}</h2>
    <p>This is your personal dashboard. Enjoy your stay!</p>
  </main>
</body>
</html>
